<!DOCTYPE html>
<html>
<head>
  <title>Signout</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<%= link_to image_tag("titanlogo.jpg", alt: "Titan lenders corporation"), 
                 {:controller => 'souts', :action => 'index'}, 
                 {:class => 'webLogo'}%>

</body>
</html>
